* {
 box-sizing:border-box;
 margin:0;
 padding:0;
}
body,html {
    height:100%;
    width:100%;
}
body {
   background-color: #FFEBEE;
}
#card{
  height:60%;
  max-height:auto;
  border:1.5px solid #EF9A9A;
  
}
img {
  max-width:100%;
  max-height:50%;
}